.tasks {
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
    margin-top: 5.625rem;
    padding: 0 1rem;
}

.tasksHeader {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.tasksHeader div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.tasksHeader p {
    color: var(--blue);
    font-size: 0.875rem;
    font-weight: 700;
}

.tasksHeader p.textPurple {
    color: var(--purple);
}

.tasksHeader span {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 3px 9px;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: 700;
}

.tasksList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.empty {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    gap: 1rem;
    color: var(--gray-300);
    text-align: center;
}

.empty svg {
    opacity: 0.3;
}

.empty p {
    font-weight: 700;
}